<% if logged_in? %>
<script type="text/javascript">
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder", user: current_user
  ).html_safe %>
</script>
<% end %>

<script type="text/javascript">
  window.staticImages = {
    background: "<%= image_url("pinterest_background.jpg")%>"
  };
</script>

<main id="root"></main>
