// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pins {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  // flex-direction: row;
  column-fill: balance;
  color: #555;
  font-family: "Helvetica Neue";
}
.text{
  color: #555;
  font-family: "Helvetica Neue";

}

.pin-img {
  width: 236px;
  border-radius: 10px;
  margin-right: 25px;
  margin-left: 25px;

}

.pin-form {
  display: flex;
  justify-content: center;
  border: 1px solid #E0E0E0;
  // height:430px;
  width: 400px;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 10px;
}

.pin-form-labels {
  text-align: center;
  color: #555;
  // -webkit-font-smoothing: antialiased;
}

.pin-preview {
  width: 236px;
  border-radius: 30px;
  // display: flex;
}

.pin-create {
  border-bottom: 1px solid #b5b5b5;
  width: 100%
}

.pin-create-attr {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  font-size: 20px;
  border: 1px solid #b5b5b5;
}

.pin-description {
  width: 100%;
}

.pin-description-item {
  width: 100%;
}

.pin-submit-btn {
  background-color: #bd081c;
  color: white;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.pin-form-box {

}

.pin {
  // display: flex;
  // margin: auto;
  // justify-content: center;
  text-overflow: hidden;
  width: 290px;
  text-align: center;
}


.pin:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  cursor: pointer;

}

.pin:active {
  background-color: #E0E0E0; 
}
