.header-splash {
  color: #555;
  text-decoration: none;
  list-style-type: none;
}

.header-link {
  text-decoration: none;
}

.header-items {
  position: sticky;
  top: 0px;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  padding-top: 4px;
  justify-content: space-between;
  width: 103%;
  margin-left: -10px;
  background: white;
  /* margin-bottom: 8px; */
  /* border-right: 1px solid #ccc;
  border-left: 1px solid #ccc; */
  /* position: absolute; */
}

.header-logo {
font-size: 25px;
color:#b5b5b5;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
}

.logo-svg{
  width: 40px;
}

.header-search {
font-size: 32px;
color:#555;
background-color: #b5b5b5;
border-radius: 7px;
width: 40%;
height: 100%;
}

/* .header-search-box {
} */
.header-search-box {
  font-size: 32px;
  color:#555;
  background-color: #b5b5b5;
  border: none;
  border-radius: 7px;
  outline: none;
  /* padding-top: 7px; */
}

.header-home-btn {
font-size: 25px;
color:#b5b5b5;
padding-top: 7px;
padding-left: 15px;
padding-right: 15px;
}

.header-explore {
font-size: 25px;
color:#b5b5b5;
padding-top: 7px;
padding-left: 15px;
padding-right: 15px;
}

.header-username {
font-size: 25px;
color:#b5b5b5;
padding-top: 7px;
padding-left: 15px;
padding-right: 15px;
}

.header-comment {
font-size: 25px;
color:#b5b5b5;
padding-top: 9px;
padding-left: 15px;
padding-right: 15px;
}

.header-extra {
font-size: 25px;
color:#b5b5b5;
margin-right: 100px;
padding-top: 7px;
padding-right: 15px;
padding-left: 15px;
}

.header-logo:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 25px;
 cursor: pointer;
}
/* .header-search:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
} */
/* .header-search-box:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
} */
.header-home-btn:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 25px;
 cursor: pointer;
}

.header-explore:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 25px;
 cursor: pointer;
}

.header-username:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 25px;
 cursor: pointer;
}

.header-comment:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 25px;
 cursor: pointer;
}

.header-extra:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 25px;
 cursor: pointer;
}

.header-logo:active {
  background-color: #c2c2d6;
  color: white;
}

.header-home-btn:active {
  background-color: #c2c2d6;
  color: white;
}

.header-explore:active {
  background-color: #c2c2d6;
  color: white;
}

.header-username:active {
  background-color: #c2c2d6;
  color: white;
}

.header-comment:active {
  background-color: #c2c2d6;
  color: white;
}

.header-extra:active {
  background-color: #c2c2d6;
  color: white;
}
