.header-splash {
  color: #555;
  text-decoration: none;
  list-style-type: none;
}

.header-link {
  text-decoration: none;
}

.header-items {
  position: sticky;
  top: 0px;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  justify-content: space-between;
  width: 103%;
  margin-left: -10px;
  background: white;
  /* margin-bottom: 8px; */
  /* border-right: 1px solid #ccc;
  border-left: 1px solid #ccc; */
  /* position: absolute; */
}

.header-logo {
font-size: 25px;
color:#b5b5b5;
}

.logo-svg{
  width: 40px;
}

.header-search {
font-size: 32px;
color:#555;
background-color: #b5b5b5;
border-radius: 7px;
width: 40%;
}

.header-search-box {
  font-size: 32px;
  color:#555;
  background-color: #b5b5b5;
  border: none;
  border-radius: 7px;
}

.header-home-btn {
font-size: 25px;
color:#b5b5b5;
}

.header-explore {
font-size: 25px;
color:#b5b5b5;
}

.header-username {
font-size: 25px;
color:#b5b5b5;
}

.header-comment {
font-size: 25px;
color:#b5b5b5;
}

.header-extra {
font-size: 25px;
color:#b5b5b5;
padding-right: 100px;
}

.header-logo:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
.header-search:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
.header-search-box:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
.header-home-btn:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
.header-explore:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
.header-username:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
.header-comment:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
.header-extra:hover {
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 5px;
 cursor: pointer;
}
