.pin-board-modal {
  position: fixed;
  right: 40px;
  bottom: 30px;
  background-color: white;
  color: #555;
  float: right;

}
.pin-board-modal:hover {
  background-color: #E0E0E0;
}
.pin-board-modal:active {
  background-color: #c2c2d6;
  color: white;
}

.fa-plus{
  font-size:25px;
  /* border: 1px solid #555; */
  /* margin: 3px; */
  padding: 5px;
  box-shadow: 1px 1px 1px;
  border-radius: 70px;
}

/* .pin-board-dropdown {} */

.fa-drop{
  display: inline;
  box-shadow: none;
  /* padding: 0px; */
}

.dropdown-ul{
  float: right;
  position: fixed;
  right: 70px;
  bottom: 55px;
  width: 286px;
  height: 90px;
  border: 1px solid #E0E0E0;
  box-shadow: 2px 2px 2px #E0E0E0;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: "Helvetica-Neue";
  color: #555;
  font-size: 32px;
  background-color: white;
  /* justify-content: space-between; */
}

.dropdown-li:first-of-type{
  border-bottom: 1px solid #E0E0E0;
  width:286px;
  height: 50%;
  /* text-align: left; */


}

.dropdown-li:hover:first-of-type{
  border-radius: 10px 10px 1px 1px;
}

.dropdown-li:last-of-type{

  border-radius: 1px 1px 10px 10px;
}

.dropdown-li:hover {
  background-color: #E0E0E0;
  height: 50%;

}
.dropdown-li:active {
  background-color: white;
  /* #d1d1e0; */

}

.dropdown-li {
  /* line-height: -5px; */
  /* margin: auto; */
  /* justify-content: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: left;
}

.pin-board-button{
  list-style-type: none;
}


/* .li-div {
  display: flex;
  justify-content: center;
  vertical-align: middle;
} */
