.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('pinterest_background.jpg');
  /* background: rgba(0, 0, 0, 0.5);
  background-image: url('pinterest_background.jpg'); */
  z-index: 10;
  background-color: #FFFFF0;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.login-form-container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  height: 430px;
  width: 400px;
  box-shadow: 1px 1px 1px 1px grey;
}

.session-form-headers {
  text-align: center;
  color: #555;
}

.session-submit {
  background-color: #bd081c;
  color: white;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.login-input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  font-size: 20px;
  border: 1px solid #b5b5b5;
}

.logo-svg-modal{
  /* justify-content: center; */
  text-align: center;
  width: 40px;
  padding: 5px;
}

.errors {
  color: red;
  list-style-type: none;
}
