.user-show {
  background-color: #efeff5;
  border-radius: 10px;
  text-align: center;
  font-family: "Helvetica-Neue";
  color: #555;
  font-size: 30px;
  font-weight: bold;
}

.user-pin-ul {
  display: flex;
  flex-wrap: wrap;
  width:75%;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  border: 1px solid #E0E0E0;
  padding: 15px;
  justify-content: center;
}

.user-pin-li {
  list-style-type: none;
  width: 99px;
}

.user-pin-img {
  width: 90px;
  border-radius: 4px;
  padding:4px;
}

.user-pin-img:hover {
  opacity: .9;
  background-color: #E0E0E0;
  padding: 4px;
}

.user-pin-img:active {
  background-color: #bd081c;
  /* background-color: #b5b5b5; */
}
